.body {
    font-family: 'Gemunu Libre', sans-serif;
}
.heading {
    background-color: #7C8594;
    padding : 2rem;
    font-size: 3rem;
    text-align: center;
}
.angles {
    display : block;
}
.check-triangle {
    background-color: #7C8594;
    padding: 0.5rem;
    color :white;
    border-radius: 0.5rem;
}